{% extends 'user_app/base.html' %}
{% load static %}
{% block head_block%}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<script defer src="{% static 'js/script.js'%}"></script>
{% endblock %}
{% block body_block %}
<section class="container-fluid" style="background-color: #FFF3E4;">
    <div class="row align-items-center">
      
      <div class="col-md-5 offset-md-1">
        <p class="text1section" style="font-size: 40px;"><span style="color: #F48C06;">Belajar</span> Menjadi lebih <br> Menyenangkan</p>
        <p class="lead">EduGaya adalah platform yang ditunjukkan untuk para siswa mengetahui gaya belajar dan mulai belajar dengannya.</p>
        <a href="#" class="btn btn-light btn-lg" style="background-color: #F48C06; color: white; font-style: normal; font-weight: bold; border-radius: 30px;">Join for free</a>
      </div>
      
      <div class="col-md-5">
        <img src="{% static '/img/talentnew.png'%}" alt="talent" width="590" height="auto" class="img-fluid rounded">
      </div>
    </div>
  </section>
  
  <section class="trusted-companies text-center px-4 pt-5">
    <p>Trusted by 100+ Companies in Indonesia</p>
    <div class="company-logos" id="company">
      <img src="{% static '/img/google.png'%}" alt="Google" />
      <img src="{% static '/img/gojek.png'%}" alt="Gojek" />
      <img src="{% static '/img/airbnb.jpg'%}" alt="Airbnb" />
      <img src="{% static '/img/bumn.png'%}" alt="Bumn" />
      <img src="{% static '/img/facebook.png'%}" alt="Facebook" />
      <img src="{% static '/img/grab.png'%}" alt="Grab" />
    </div>
  </section>

    <div class="px-4 pt-5 my-5 text-center border-bottom">
      <h1 class="display-10 fw-bold text-body-emphasis" style="color: #F48C06 !important"><span style="color: #2F327D;">Premium</span> Access</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Ambil kesempatan sekarang dan raih kesuksesan anda!</p>
      <div class="overflow-hidden" style="max-height: 30vh;"></div>
      </div>
    </div>
    
      <article class="container my-5" >
        <div class="row align-items-center"> 
            <div class="col-md-6 p-0"> 
                <img src="{% static '/img/Content.png'%}" class="img-fluid border rounded-3 shadow-lg" alt="Example image" style="width: 80%; height: auto;" loading="lazy">
            </div>
            
            <div class="col-md-6 text-start"> 
                <h1 class="display-10 fw-bold text-body-emphasis" style="color: #F48C06 !important;">User</h1>
                <h1 class="display-10 fw-bold text-body-emphasis" style="color: #2F327D !important;">Interface</h1>
                <p class="lead text-body-secondary">Tampilan dirancang khusus untuk memudahkan pengguna memahami pelajaran dengan lebih cepat dan efisien.</p>
            </div>
        </div>
      </article>
    
      <article class="container my-5">
        <div class="row align-items-center"> 
            <div class="col-md-6 text-start"> 
                <h1 class="display-10 fw-bold text-body-emphasis" style="color: #F48C06 !important;">Komunitas</h1>
                <h1 class="display-10 fw-bold text-body-emphasis" style="color: #2F327D !important;">Pembelajaran</h1>
                <p class="lead text-body-secondary">Akses ke komunitas khusus di mana siswa dapat berdiskusi, berbagi pengalaman dengan para alumni, dan saling memberi dukungan dengan anggota premium lainnya.</p>
            </div>
            
            <div class="col-md-6 p-0"> 
                <img src="{% static '/img/Berkumpul.jpg'%}" class="img-fluid border rounded-3 shadow-lg" alt="Example image" style="width: 70%; height: auto;" loading="lazy">
            </div>
        </div>
      </article>
    
      <article class="container my-5">
        <div class="row align-items-center"> 
            <div class="col-md-6 p-0"> 
                <img src="{% static '/img/Content2.png'%}" class="img-fluid border rounded-3 shadow-lg" alt="Example image" style="width: 80%; height: auto;" loading="lazy">
            </div>
            
            <div class="col-md-6 text-start"> 
                <h1 class="display-10 fw-bold text-body-emphasis" style="color: #F48C06 !important;">Ujian Simulasi &</h1>
                <h1 class="display-10 fw-bold text-body-emphasis" style="color: #2F327D !important;">Evaluasi</h1>
                <p class="lead text-body-secondary">Ujian simulasi yang dirancang untuk mengukur kemajuan dan efektivitas pembelajaran, serta umpan balik untuk perbaikan.</p>
            </div>
        </div>
      </article>
    
    <article class ="secondary my-5">
      <div class="container my-5">
        <div class="row align-items-center"> 
            <div class="col-md-6 text-start"> 
                <h1 class="display-10 fw-bold text-body-emphasis" style="color: #F48C06 !important;">Materi Pelatihan</h1>
                <h1 class="display-10 fw-bold text-body-emphasis" style="color: #2F327D !important;">Khusus</h1>
                <p class="lead text-body-secondary">Akses eksklusif ke materi pelatihan yang dirancang untuk meningkatkan kompetensi siswa dalam persiapan OSN, sesuai dengan standar yang ditetapkan.</p>
            </div>
            
            <div class="col-md-6 p-0"> 
                <img src="{% static '/img/Content3.png'%}" class="img-fluid border rounded-3 shadow-lg" alt="Example image" style="width: 70%; height: auto;" loading="lazy">
            </div>
        </div>
      </div>
      <div class="container my-5">
        <div class="row align-items-center"> 
            <div class="col-md-6 p-0"> 
                <img src="{% static '/img/Content4.png'%}" class="img-fluid border rounded-3 shadow-lg" alt="Example image" style="width: 80%; height: auto;" loading="lazy">
            </div>
            
            <div class="col-md-6 text-start"> 
                <h1 class="display-10 fw-bold text-body-emphasis" style="color: #F48C06 !important;">Bimbingan</h1>
                <h1 class="display-10 fw-bold text-body-emphasis" style="color: #2F327D !important;">Pribadi</h1>
                <p class="lead text-body-secondary">Kesempatan untuk mendapatkan bimbingan one-on-one dari tutor atau mentor yang berpengalaman dalam bidang terkait.</p>
            </div>
        </div>
      </div>
    </article>
      <div class="container-see-more-future ">
        <button class="see-more-future" id ="btn">See More Features</button>
    </div>
{% endblock %}