/* Contact */
.contact-section {
background-image: url(../img/latar-sing_up-login.png);
background-size: cover;
padding: 60px 0;
}

.contact-container {
max-width: 900px;
margin: 0 auto;
background-color: #fff2E1;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
border-radius: 10px;
padding: 30px;
}

.contact-text h1 {
font-size: 2.5rem;
color: #343a40;
text-align: center;
margin-bottom: 20px;
}

.highlight {
color: #ff5722;
}

.contact-text p {
text-align: center;
font-size: 1.1rem;
color: #6c757d;
margin-bottom: 40px;
}

.contact-form {
padding: 20px;
}

.submit-btn {
background-color: #ff5722;
color: white;
border: none;
padding: 10px 20px;
border-radius: 5px;
width: 100%;
transition: background-color 0.3s ease;
}

.submit-btn:hover {
background-color: #e64a19;
}

.contact-form label {
font-weight: bold;
}
.submit-btn {
background-color: #ff8200;
color: #fff;
padding: 12px;
border: none;
border-radius: 8px;
cursor: pointer;
font-size: 16px;
}
.submit-btn:hover {
background-color: #ff9d3f;
}
/* Floating label */
.position-relative {
position: relative;
margin-bottom: 30px;
}

.floating-label {
position: absolute;
top: 12px;
left: 20px;
color: #6c757d;
font-size: 16px;
pointer-events: none;
transition: all 0.2s ease-in-out;
}

.form-control:focus ~ .floating-label,
.form-control:not(:placeholder-shown) ~ .floating-label {
top: -20px;
left: 12px;
font-size: 12px;
color: #000000;
}

.form-control {
padding-top: 10px;
padding-bottom: 8px;
border-radius: 5px;
}