{% extends 'user_app/base.html' %}
{% load static %}
{% load embed_video_tags %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'css/class_list.css' %}">
{% endblock %}

{% block body_block %}
<!-- Header dan Navigasi -->
<div class="py-3" style="background:#FFBD73">
    <div class="container nav-jejak">
        <a class="text-black" href="{% url 'index' %}" style="font-size: 25px;"> Beranda /</a>
        <a class="text-black" href="{% url 'post_list' %}" style="font-size: 25px; text-decoration: none !important;"> Search /</a>
        <a class="text-black" href="{% url 'post_detail' pk=post.pk %}" style="font-size: 25px; text-decoration: none !important;"> {{ post.title }} /</a>
        <a class="text-black" href="#" style="font-size: 25px; text-decoration: none !important;">Class </a>
    </div>
</div>

<!-- Thumbnail Post -->
<div class="container my-5">
    <div class="p-5 text-white ">
      <h1 class="text white">Kelas : {{ post.title }} </h1>
      <p class="lead">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
        </svg>
        Dibuat oleh <code>{{post.author}}</code>
      </p>
      Dibuat pada : {{ post.published_date }}
    </div>
    <div class="p-5 text-white" id="class">
        <h2>Berikut adalah kelas yang terdapat dalam materi "{{ post.title }}"</h2>
        <!-- Daftar Kelas -->
        <ul>
            {% for class in classes %}
            <li class="class-item">
                <div class="class-info">
                    <span class="class-name">{{ class.class_name }}</span>
                    <a href="{% url 'class_detail' pk=class.pk %}" class="btn btn-primary">Lihat</a>
                </div>
            </li>
            {% empty %}
            <li style="color: black;">Tidak ada kelas tersedia.</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
